Last login: Wed Jun 23 09:04:47 on ttys000

kli: ~
❯ cd neuefische/1_Orga

kli: ~/neuefische/1_Orga
❯ cd cgn-data-21-2-daily-review

kli: ~/neuefische/1_Orga/cgn-data-21-2-daily-review on  main [⇕]
❯ git status
On branch main
Your branch and 'origin/main' have diverged,
and have 1 and 1 different commits each, respectively.
  (use "git pull" to merge the remote branch into yours)

nothing to commit, working tree clean

kli: ~/neuefische/1_Orga/cgn-data-21-2-daily-review on  main [⇕]
❯ git pull
fatal: Not possible to fast-forward, aborting.

kli: ~/neuefische/1_Orga/cgn-data-21-2-daily-review on  main [⇕]
❯ git switch -c kli
fatal: A branch named 'kli' already exists.

kli: ~/neuefische/1_Orga/cgn-data-21-2-daily-review on  main [⇕]
❯ git switch kli
Switched to branch 'kli'
Your branch is up to date with 'origin/kli'.

kli: ~/neuefische/1_Orga/cgn-data-21-2-daily-review on  kli [?]
❯ git merge main
Updating 3b964f1..2d91f3b
Fast-forward
 .DS_Store                                                     |    Bin 6148 -> 10244 bytes
 2021-05-28.md                                                 |    182 +
 2021-05-31.md                                                 |      2 +-
 2021-06-01.md                                                 |    498 +
 2021-06-02.md                                                 |    129 +
 2021-06-07.md                                                 |     69 +
 2021-06-08.md                                                 |    171 +
 2021-06-09.md                                                 |    162 +
 2021-06-10.md                                                 |    282 +
 2021-06-11.md                                                 |    137 +
 2021-06-14.md                                                 |    184 +
 2021-06-15.md                                                 |    147 +
 2021-06-16.md                                                 |    145 +
 2021-06-17.md                                                 |    235 +
 2021-06-18.md                                                 |    185 +
 2021-06-21.md                                                 |    117 +
 2021_06_23.md                                                 |    353 +
 Images/.DS_Store                                              |    Bin 0 -> 8196 bytes
 Images/2021-06-10-09-14-04.png                                |    Bin 0 -> 920283 bytes
 Images/2021-06-10-09-17-58.png                                |    Bin 0 -> 216113 bytes
 Images/2021-06-10-13-12-39.png                                |    Bin 0 -> 216426 bytes
 Images/2021-06-10-13-48-10.png                                |    Bin 0 -> 74453 bytes
 Images/2021-06-10-18-33-58.png                                |    Bin 0 -> 78672 bytes
 Images/2021-06-10-19-18-18.png                                |    Bin 0 -> 3579 bytes
 Images/2021-06-10-19-31-08.png                                |    Bin 0 -> 24518 bytes
 Images/2021-06-11-07-12-28.png                                |    Bin 0 -> 9817 bytes
 Images/2021-06-11-07-19-24.png                                |    Bin 0 -> 11300 bytes
 Images/2021-06-11-07-35-37.png                                |    Bin 0 -> 11525 bytes
 Images/2021-06-11-07-41-22.png                                |    Bin 0 -> 185582 bytes
 Images/2021-06-11-07-52-06.png                                |    Bin 0 -> 5263 bytes
 Images/2021-06-11-07-54-42.png                                |    Bin 0 -> 34855 bytes
 Images/2021-06-21-binaryTree.jpg                              |    Bin 0 -> 224839 bytes
 Images/2021-06-21-called-for-gini-im-here.jpg                 |    Bin 0 -> 247923 bytes
 Images/2021-06-21-node.png                                    |    Bin 0 -> 37763 bytes
 Images/2021_06_16_SVM_01.png                                  |    Bin 0 -> 34551 bytes
 Images/2021_06_16_SVM_02.png                                  |    Bin 0 -> 29631 bytes
 Images/2021_06_16_SVM_03.png                                  |    Bin 0 -> 47782 bytes
 Images/2021_06_16_SVM_04.png                                  |    Bin 0 -> 25585 bytes
 Images/ModelSampling.png                                      |    Bin 0 -> 30428 bytes
 Images/Screenshot 2021-06-16 at 07.21.12.png                  |    Bin 0 -> 368761 bytes
 Images/cross_validation.png                                   |    Bin 0 -> 4280123 bytes
 Images/grid_search_cv.png                                     |    Bin 0 -> 4114032 bytes
 Images/hiddenlayer.png                                        |    Bin 0 -> 35105 bytes
 Images/log_reg_1D.png                                         |    Bin 0 -> 20179 bytes
 Images/log_reg_2D.png                                         |    Bin 0 -> 32912 bytes
 README.md                                                     |     28 +-
 Slides/Naive_Bayes_Presentations/Naive Bayes Algorithm.pdf    |    Bin 0 -> 71756 bytes
 Slides/Naive_Bayes_Presentations/Naive Bayes.pdf              |    Bin 0 -> 232303 bytes
 Slides/Naive_Bayes_Presentations/Naive_Bayes_Classifier.pdf   |    Bin 0 -> 196316 bytes
 Slides/Naive_Bayes_Presentations/nf_ds_naive_bayes.pdf        |    Bin 0 -> 224693 bytes
 Slides/data-visualization-graphs-comic.png                    |    Bin 0 -> 36285 bytes
 code/.DS_Store                                                |    Bin 0 -> 8196 bytes
 code/eda-example/.DS_Store                                    |    Bin 0 -> 8196 bytes
 code/eda-example/.gitignore                                   |    129 +
 code/eda-example/King-County-EDA-Example.ipynb                | 524466 ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 code/eda-example/README.md                                    |     27 +
 code/eda-example/data/King_County_House_prices_dataset.csv    |  21598 ++++++++
 code/eda-example/data/column_names.md                         |     22 +
 code/eda-example/images/.DS_Store                             |    Bin 0 -> 6148 bytes
 code/eda-example/images/DS_LC.png                             |    Bin 0 -> 196391 bytes
 code/eda-example/images/king_county_districts.jpeg            |    Bin 0 -> 171236 bytes
 code/eda-example/images/seattle_skyline.jpg                   |    Bin 0 -> 944793 bytes
 code/eda-example/model/.DS_Store                              |    Bin 0 -> 6148 bytes
 code/eda-example/model/lin_reg                                |    Bin 0 -> 1921 bytes
 code/eda-example/model/linear_regression.py                   |    114 +
 code/eda-example/model/poly_fit                               |    Bin 0 -> 224 bytes
 code/eda-example/predict.csv                                  |      3 +
 code/eda-example/requirements.txt                             |      9 +
 code/naive_bayes/02_Naive_Bayes_From_Scratch_SOLUTIONS.ipynb  |    840 +
 code/pd_np_intro/01_pandas.ipynb                              |   5105 ++
 code/pd_np_intro/02_pandas_practice_1.ipynb                   |   2239 +
 code/pd_np_intro/03_pandas_visualization.ipynb                |    680 +
 code/pd_np_intro/04_pandas_practice_2.ipynb                   |   1512 +
 code/pd_np_intro/05_pandas_practice_3.ipynb                   |    904 +
 code/pd_np_intro/06_combine_dataframes.ipynb                  |   1542 +
 code/pd_np_intro/07_numpy.ipynb                               |   2885 +
 code/pd_np_intro/08_numpy_practice.ipynb                      |    358 +
 code/pd_np_intro/09_pandas_practice_4.ipynb                   |   1246 +
 code/tic_tac_toe/tic-tac-toe_Fidel+Karl.py                    |    139 +
 code/visualization_exercise/Visualisation_Exercise_Juan.ipynb |   2621 +
 images_test/2021-06-10-09-14-04.png                           |    Bin 0 -> 920283 bytes
 images_test/2021-06-10-09-17-58.png                           |    Bin 0 -> 216113 bytes
 images_test/2021-06-10-13-12-39.png                           |    Bin 0 -> 216426 bytes
 images_test/2021-06-10-13-48-10.png                           |    Bin 0 -> 74453 bytes
 images_test/2021-06-10-18-33-58.png                           |    Bin 0 -> 78672 bytes
 images_test/2021-06-10-19-18-18.png                           |    Bin 0 -> 3579 bytes
 images_test/2021-06-10-19-31-08.png                           |    Bin 0 -> 24518 bytes
 images_test/2021-06-11-07-12-28.png                           |    Bin 0 -> 9817 bytes
 images_test/2021-06-11-07-19-24.png                           |    Bin 0 -> 11300 bytes
 images_test/2021-06-11-07-35-37.png                           |    Bin 0 -> 11525 bytes
 images_test/2021-06-11-07-41-22.png                           |    Bin 0 -> 185582 bytes
 images_test/2021-06-11-07-52-06.png                           |    Bin 0 -> 5263 bytes
 images_test/2021-06-11-07-54-42.png                           |    Bin 0 -> 34855 bytes
 93 files changed, 569463 insertions(+), 2 deletions(-)
 create mode 100644 2021-05-28.md
 create mode 100644 2021-06-01.md
 create mode 100644 2021-06-02.md
 create mode 100644 2021-06-07.md
 create mode 100644 2021-06-08.md
 create mode 100644 2021-06-09.md
 create mode 100644 2021-06-10.md
 create mode 100644 2021-06-11.md
 create mode 100644 2021-06-14.md
 create mode 100644 2021-06-15.md
 create mode 100644 2021-06-16.md
 create mode 100644 2021-06-17.md
 create mode 100644 2021-06-18.md
 create mode 100644 2021-06-21.md
 create mode 100644 2021_06_23.md
 create mode 100644 Images/.DS_Store
 create mode 100644 Images/2021-06-10-09-14-04.png
 create mode 100644 Images/2021-06-10-09-17-58.png
 create mode 100644 Images/2021-06-10-13-12-39.png
 create mode 100644 Images/2021-06-10-13-48-10.png
 create mode 100644 Images/2021-06-10-18-33-58.png
 create mode 100644 Images/2021-06-10-19-18-18.png
 create mode 100644 Images/2021-06-10-19-31-08.png
 create mode 100644 Images/2021-06-11-07-12-28.png
 create mode 100644 Images/2021-06-11-07-19-24.png
 create mode 100644 Images/2021-06-11-07-35-37.png
 create mode 100644 Images/2021-06-11-07-41-22.png
 create mode 100644 Images/2021-06-11-07-52-06.png
 create mode 100644 Images/2021-06-11-07-54-42.png
 create mode 100644 Images/2021-06-21-binaryTree.jpg
 create mode 100644 Images/2021-06-21-called-for-gini-im-here.jpg
 create mode 100644 Images/2021-06-21-node.png
 create mode 100644 Images/2021_06_16_SVM_01.png
 create mode 100644 Images/2021_06_16_SVM_02.png
 create mode 100644 Images/2021_06_16_SVM_03.png
 create mode 100644 Images/2021_06_16_SVM_04.png
 create mode 100644 Images/ModelSampling.png
 create mode 100644 Images/Screenshot 2021-06-16 at 07.21.12.png
 create mode 100644 Images/cross_validation.png
 create mode 100644 Images/grid_search_cv.png
 create mode 100644 Images/hiddenlayer.png
 create mode 100644 Images/log_reg_1D.png
 create mode 100644 Images/log_reg_2D.png
 create mode 100644 Slides/Naive_Bayes_Presentations/Naive Bayes Algorithm.pdf
 create mode 100644 Slides/Naive_Bayes_Presentations/Naive Bayes.pdf
 create mode 100644 Slides/Naive_Bayes_Presentations/Naive_Bayes_Classifier.pdf
 create mode 100644 Slides/Naive_Bayes_Presentations/nf_ds_naive_bayes.pdf
 create mode 100644 Slides/data-visualization-graphs-comic.png
 create mode 100644 code/.DS_Store
 create mode 100644 code/eda-example/.DS_Store
 create mode 100644 code/eda-example/.gitignore
 create mode 100644 code/eda-example/King-County-EDA-Example.ipynb
 create mode 100644 code/eda-example/README.md
 create mode 100644 code/eda-example/data/King_County_House_prices_dataset.csv
 create mode 100644 code/eda-example/data/column_names.md
 create mode 100644 code/eda-example/images/.DS_Store
 create mode 100644 code/eda-example/images/DS_LC.png
 create mode 100644 code/eda-example/images/king_county_districts.jpeg
 create mode 100644 code/eda-example/images/seattle_skyline.jpg
 create mode 100644 code/eda-example/model/.DS_Store
 create mode 100644 code/eda-example/model/lin_reg
 create mode 100644 code/eda-example/model/linear_regression.py
 create mode 100644 code/eda-example/model/poly_fit
 create mode 100644 code/eda-example/predict.csv
 create mode 100644 code/eda-example/requirements.txt
 create mode 100644 code/naive_bayes/02_Naive_Bayes_From_Scratch_SOLUTIONS.ipynb
 create mode 100644 code/pd_np_intro/01_pandas.ipynb
 create mode 100644 code/pd_np_intro/02_pandas_practice_1.ipynb
 create mode 100644 code/pd_np_intro/03_pandas_visualization.ipynb
 create mode 100644 code/pd_np_intro/04_pandas_practice_2.ipynb
 create mode 100644 code/pd_np_intro/05_pandas_practice_3.ipynb
 create mode 100644 code/pd_np_intro/06_combine_dataframes.ipynb
 create mode 100644 code/pd_np_intro/07_numpy.ipynb
 create mode 100644 code/pd_np_intro/08_numpy_practice.ipynb
 create mode 100644 code/pd_np_intro/09_pandas_practice_4.ipynb
 create mode 100644 code/tic_tac_toe/tic-tac-toe_Fidel+Karl.py
 create mode 100644 code/visualization_exercise/Visualisation_Exercise_Juan.ipynb
 create mode 100644 images_test/2021-06-10-09-14-04.png
 create mode 100644 images_test/2021-06-10-09-17-58.png
 create mode 100644 images_test/2021-06-10-13-12-39.png
 create mode 100644 images_test/2021-06-10-13-48-10.png
 create mode 100644 images_test/2021-06-10-18-33-58.png
 create mode 100644 images_test/2021-06-10-19-18-18.png
 create mode 100644 images_test/2021-06-10-19-31-08.png
 create mode 100644 images_test/2021-06-11-07-12-28.png
 create mode 100644 images_test/2021-06-11-07-19-24.png
 create mode 100644 images_test/2021-06-11-07-35-37.png
 create mode 100644 images_test/2021-06-11-07-41-22.png
 create mode 100644 images_test/2021-06-11-07-52-06.png
 create mode 100644 images_test/2021-06-11-07-54-42.png

kli: ~/neuefische/1_Orga/cgn-data-21-2-daily-review on  kli [⇡]
❯ git switch main
Switched to branch 'main'
Your branch and 'origin/main' have diverged,
and have 1 and 1 different commits each, respectively.
  (use "git pull" to merge the remote branch into yours)

kli: ~/neuefische/1_Orga/cgn-data-21-2-daily-review on  main [⇕]
❯ git rebase origin/main
Successfully rebased and updated refs/heads/main.

kli: ~/neuefische/1_Orga/cgn-data-21-2-daily-review on  main [⇡]
❯ git pull
Already up to date.

kli: ~/neuefische/1_Orga/cgn-data-21-2-daily-review on  main [⇡]
❯ git status
On branch main
Your branch is ahead of 'origin/main' by 1 commit.
  (use "git push" to publish your local commits)

nothing to commit, working tree clean

kli: ~/neuefische/1_Orga/cgn-data-21-2-daily-review on  main [✘?⇡]
❯ git fetch

kli: ~/neuefische/1_Orga/cgn-data-21-2-daily-review on  main [✘?⇡]
❯ git status
On branch main
Your branch is ahead of 'origin/main' by 1 commit.
  (use "git push" to publish your local commits)

Changes not staged for commit:
  (use "git add/rm <file>..." to update what will be committed)
  (use "git restore <file>..." to discard changes in working directory)
	deleted:    2021_06_23.md

Untracked files:
  (use "git add <file>..." to include in what will be committed)
	2021-06-23.md

no changes added to commit (use "git add" and/or "git commit -a")

kli: ~/neuefische/1_Orga/cgn-data-21-2-daily-review on  main [✘?⇡]
❯ git add -all
error: did you mean `--all` (with two dashes)?

kli: ~/neuefische/1_Orga/cgn-data-21-2-daily-review on  main [✘?⇡]
❯ git add --all

kli: ~/neuefische/1_Orga/cgn-data-21-2-daily-review on  main [✘+⇡]
❯ git commit -m "2021-06-23 ready"
[main 9f043f9] 2021-06-23 ready
 2 files changed, 219 insertions(+), 353 deletions(-)
 create mode 100644 2021-06-23.md
 delete mode 100644 2021_06_23.md

kli: ~/neuefische/1_Orga/cgn-data-21-2-daily-review on  main [⇡]
❯ git push
Enumerating objects: 18, done.
Counting objects: 100% (18/18), done.
Delta compression using up to 8 threads
Compressing objects: 100% (12/12), done.
Writing objects: 100% (12/12), 36.44 KiB | 18.22 MiB/s, done.
Total 12 (delta 7), reused 0 (delta 0), pack-reused 0
remote: Resolving deltas: 100% (7/7), completed with 6 local objects.
To github.com:neuefische/cgn-data-21-2-daily-review.git
   aab2ecd..9f043f9  main -> main

kli: ~/neuefische/1_Orga/cgn-data-21-2-daily-review on  main took 3s
❯ git fetch

kli: ~/neuefische/1_Orga/cgn-data-21-2-daily-review on  main
❯ git pull
Already up to date.

kli: ~/neuefische/1_Orga/cgn-data-21-2-daily-review on  main
❯ git status
On branch main
Your branch is up to date with 'origin/main'.

Changes not staged for commit:
  (use "git add <file>..." to update what will be committed)
  (use "git restore <file>..." to discard changes in working directory)
	modified:   README.md

no changes added to commit (use "git add" and/or "git commit -a")

kli: ~/neuefische/1_Orga/cgn-data-21-2-daily-review on  main [!]
❯ git add --all

kli: ~/neuefische/1_Orga/cgn-data-21-2-daily-review on  main [+]
❯ git commit -m "Update README.md"
[main 109cae4] Update README.md
 1 file changed, 34 insertions(+), 4 deletions(-)

kli: ~/neuefische/1_Orga/cgn-data-21-2-daily-review on  main [⇡]
❯ git push
Enumerating objects: 5, done.
Counting objects: 100% (5/5), done.
Delta compression using up to 8 threads
Compressing objects: 100% (3/3), done.
Writing objects: 100% (3/3), 698 bytes | 698.00 KiB/s, done.
Total 3 (delta 2), reused 0 (delta 0), pack-reused 0
remote: Resolving deltas: 100% (2/2), completed with 2 local objects.
To github.com:neuefische/cgn-data-21-2-daily-review.git
   9f043f9..109cae4  main -> main

kli: ~/neuefische/1_Orga/cgn-data-21-2-daily-review on  main took 3s
❯ ls -al
total 424
drwxr-xr-x  34 kli  staff   1088 Jun 23 19:26 .
drwxr-xr-x   6 kli  staff    192 Jun 23 19:16 ..
-rw-r--r--   1 kli  staff  10244 Jun 23 19:25 .DS_Store
drwxr-xr-x  15 kli  staff    480 Jun 24 10:35 .git
-rw-r--r--@  1 kli  staff   8842 May 19 09:47 2021-05-17.md
-rw-r--r--   1 kli  staff   2543 May 20 10:07 2021-05-18.md
-rw-r--r--   1 kli  staff   2952 May 20 10:07 2021-05-19.md
-rw-r--r--   1 kli  staff   2155 May 30 11:26 2021-05-20.md
-rw-r--r--   1 kli  staff  10460 May 30 11:26 2021-05-21.md
-rw-r--r--   1 kli  staff   7176 May 30 11:26 2021-05-25.md
-rw-r--r--   1 kli  staff   2464 May 30 11:26 2021-05-26.md
-rw-r--r--   1 kli  staff   5616 May 30 11:26 2021-05-27.md
-rw-r--r--   1 kli  staff   5008 Jun 23 19:24 2021-05-28.md
-rw-r--r--   1 kli  staff   9767 Jun 23 19:25 2021-05-31.md
-rw-r--r--   1 kli  staff  14587 Jun 23 19:24 2021-06-01.md
-rw-r--r--   1 kli  staff   4490 Jun 23 19:24 2021-06-02.md
-rw-r--r--   1 kli  staff   2913 Jun 23 19:24 2021-06-07.md
-rw-r--r--   1 kli  staff   5155 Jun 23 19:24 2021-06-08.md
-rw-r--r--   1 kli  staff   5246 Jun 23 19:24 2021-06-09.md
-rw-r--r--   1 kli  staff  10972 Jun 23 19:24 2021-06-10.md
-rw-r--r--   1 kli  staff   3754 Jun 23 19:24 2021-06-11.md
-rw-r--r--   1 kli  staff   4607 Jun 23 19:24 2021-06-14.md
-rw-r--r--   1 kli  staff   6779 Jun 23 19:24 2021-06-15.md
-rw-r--r--   1 kli  staff   5138 Jun 23 19:24 2021-06-16.md
-rw-r--r--   1 kli  staff   9252 Jun 23 19:24 2021-06-17.md
-rw-r--r--   1 kli  staff   7552 Jun 23 19:24 2021-06-18.md
-rw-r--r--   1 kli  staff   3906 Jun 23 19:24 2021-06-21.md
-rw-r--r--   1 kli  staff   3783 Jun 23 19:25 2021-06-22.md
-rw-r--r--   1 kli  staff   6358 Jun 23 23:36 2021-06-23.md
drwxr-xr-x  32 kli  staff   1024 Jun 23 19:25 Images
-rw-r--r--   1 kli  staff   2666 Jun 24 10:34 README.md
drwxr-xr-x  12 kli  staff    384 Jun 23 19:24 Slides
drwxr-xr-x   9 kli  staff    288 Jun 23 19:25 code
drwxr-xr-x  15 kli  staff    480 Jun 23 19:24 images_test

kli: ~/neuefische/1_Orga/cgn-data-21-2-daily-review on  main
❯ cd .git

kli: ~/neuefische/1_Orga/cgn-data-21-2-daily-review/.git on  main
❯ ls -al
total 80
drwxr-xr-x   15 kli  staff    480 Jun 24 10:35 .
drwxr-xr-x   34 kli  staff   1088 Jun 23 19:26 ..
-rw-r--r--    1 kli  staff     17 Jun 24 10:35 COMMIT_EDITMSG
-rw-r--r--    1 kli  staff    354 Jun 24 10:15 FETCH_HEAD
-rw-r--r--    1 kli  staff     21 Jun 23 19:25 HEAD
-rw-r--r--    1 kli  staff     41 Jun 24 10:15 ORIG_HEAD
-rw-r--r--    1 kli  staff    396 Jun  2 00:04 config
-rw-r--r--    1 kli  staff     73 May 18 09:58 description
drwxr-xr-x   15 kli  staff    480 May 18 09:58 hooks
-rw-r--r--    1 kli  staff  12153 Jun 24 10:35 index
drwxr-xr-x    3 kli  staff     96 May 18 09:58 info
drwxr-xr-x    4 kli  staff    128 May 18 09:58 logs
drwxr-xr-x  115 kli  staff   3680 Jun 24 10:35 objects
-rw-r--r--    1 kli  staff    180 May 18 09:58 packed-refs
drwxr-xr-x    5 kli  staff    160 May 18 09:58 refs

kli: ~/neuefische/1_Orga/cgn-data-21-2-daily-review/.git on  main
❯ cd ..

kli: ~/neuefische/1_Orga/cgn-data-21-2-daily-review on  main
❯ cd ..

kli: ~/neuefische/1_Orga
❯ cd ..

kli: ~/neuefische
❯ cd 7_Bias-Variance

kli: ~/neuefische/7_Bias-Variance
❯ ls -al
total 16
drwxr-xr-x   5 kli  staff   160 Jun  9 15:20 .
drwxr-xr-x  22 kli  staff   704 Jun 24 11:03 ..
-rw-r--r--@  1 kli  staff  6148 Jun  9 15:20 .DS_Store
drwxr-xr-x  11 kli  staff   352 Jun  9 11:48 ds-gradient-descent
drwxr-xr-x  13 kli  staff   416 Jun  8 14:18 ds-predictive-regression

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
".gitignore" 129L, 1799B
